@font-face {
  font-family: "SourceCodeProLight";
  src: url("../fonts/SourceCodePro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodeProLightItalic";
  src: url("../fonts/SourceCodePro-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "SourceCodeProMedium";
  src: url("../fonts/SourceCodePro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "SourceCodeProRegular";
  src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "SourceCodeProItalic";
  src: url("../fonts/SourceCodePro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "SourceCodeProSemiBold";
  src: url("../fonts/SourceCodePro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "SourceCodeProSemiBoldItalic";
  src: url("../fonts/SourceCodePro-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "SourceCodeProBold";
  src: url("../fonts/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "SourceCodeProBoldItalic";
  src: url("../fonts/SourceCodePro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}
