@import url("./fonts.scss");

@import url("./fonts.scss");

section {
  max-width: 650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;

  #title {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;

    h1 {
      font-family: "SourceCodePro", monospace;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
    }

    p {
      color: #d7cfbe;
      font-family: "SourceCodeProLight", monospace;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }

    nav {
      max-width: 650px;
      margin: 0 auto;
      padding: 0 10px;
      background: #353535;
      margin: 6px auto;

      ul {
        list-style-type: none;
        display: table;
        margin: 0 auto;
        padding: 0;

        li {
          font-family: "SourceCodeProLight", monospace;
          font-weight: normal;
          list-style: none;
          display: inline;
          color: white;
          line-height: 50px;
          text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
          font-size: 14px;

          a {
            color: white;
            background-color: #353535;
            // box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3),
            //   0px 3px 7px rgba(0, 0, 0, 0.7);
            padding: 10px 12px;
            margin-top: 6px;
            line-height: 14px;
            font-size: 14px;
            display: inline-block;
            text-align: center;

            &:hover {
              background-color: #2d2b2b;
              border: 1px solid #527f0e;
              box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2),
                0px 1px 0px rgba(0, 0, 0, 0);
            }
          }
        }
      }
    }

    .credits {
      font-size: 11px;
      font-family: "SourceCodePro", monospace;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }
  }
}

@import "{{ site.theme }}";
